.parrafo-quienes-somos {
  color: #23272b;
}

.section-quienes-somos {
  border: 0px;
}

.container-quienes-somos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
}

.container-contenido {
  min-width: 200px;
  max-width: 100%;
  width: 600px;
}

.section-quienes-somos {
  border: 0px;
}

.margin {
  margin-bottom: 50px;
}

.container-numero {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.numero {
  background-color: #6528e0;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 30px;
}

.titulo-quienesomos {
  color: #23272b;
  margin-bottom: 50px;
}

.contenedor-calidadeficiencia {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1163%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(55%2c 36%2c 61%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c617.295C125.451%2c633.672%2c272.765%2c656.464%2c369.424%2c574.836C466.445%2c492.903%2c456.705%2c342.405%2c474.414%2c216.658C487.847%2c121.27%2c481.679%2c27.692%2c459.686%2c-66.093C439.327%2c-152.907%2c396.384%2c-227.691%2c352.065%2c-305.066C296.98%2c-401.237%2c270.371%2c-530.331%2c168.618%2c-574.259C66.698%2c-618.259%2c-51.334%2c-566.392%2c-153.686%2c-523.407C-248.025%2c-483.788%2c-315.467%2c-407.748%2c-391.338%2c-339.096C-478.522%2c-260.207%2c-608.937%2c-206.176%2c-631.748%2c-90.832C-654.552%2c24.476%2c-560.875%2c127.313%2c-503.91%2c230.128C-451.216%2c325.235%2c-398.455%2c419.604%2c-312.236%2c485.848C-220.838%2c556.071%2c-114.29%2c602.375%2c0%2c617.295' fill='%232f1f34'%3e%3c/path%3e%3cpath d='M1440 1251.8719999999998C1568.004 1257.0059999999999 1685.279 1174.341 1778.01 1085.954 1861.32 1006.547 1902.783 895.758 1930.746 784.116 1955.066 687.021 1929.556 590.005 1927.296 489.937 1924.662 373.31 1966.634 252.49900000000002 1916.362 147.23000000000002 1860.295 29.826999999999998 1764.782-84.88 1638.275-115.26199999999994 1512.403-145.49099999999999 1394.218-53.81700000000001 1273.465-7.16700000000003 1163.363 35.36800000000005 1027.289 47.50999999999999 962.15 145.94099999999997 897.685 243.35399999999998 950.24 372.156 945.206 488.859 940.774 591.602 904.373 692.553 934.3299999999999 790.932 966.633 897.014 1037.025 984.817 1118.978 1059.52 1213.076 1145.2939999999999 1312.777 1246.769 1440 1251.8719999999998' fill='%233f2946'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1163'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}