.container-button {
  margin: 15px 0px 0px 0px;
}

.section {
  border: 0px;
}

.alert-aviso {
  color: rgb(255, 80, 80);
}

.contenedor-resumen {
  width: 100%;
  max-width: 700px;
  min-width: 300px;

  padding: 0px 20px 0px 20px;
}

.contenedor-precio-vehiculo-resumen {
  background-color: #6528e0;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 0px 15px 0px 15px;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 10px;
}

.titulo-precio-vehiculo-resumen {
  color: white;
  font-size: 20px;
}

.contenedor-padre-precio-vehiculo-resumen {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.rdrDay.rdrDayDisabled {
  background-color: #d6d6d6;
  /*border-radius: 510px;*/
}

.rdr-Day.is-disabled {
  color: black;
}

.rdrDay.rdrDayDisabled:hover,
.rdr-Day.is-disabled:hover {
  cursor: url('/public/images/prohibido.svg') 12 12, pointer !important;
}