.contenedor-padre-vehiculos {
  padding: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contenedor-hijo-vehiculos {
  width: auto;
  height: auto;
  background-color: white;
}

.sub-precio-titulo {
  font-size: 13px;
}

.precio {
  text-align: right;
  padding: 10px;
}

.imagen-caja {
  /*background-color: hsl(223deg 14% 20%);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-mas-detalles {
  padding: 15px;
}

.marca-text {
  padding-top: 15px;
}

.foto-vehiculos {
  width: 100%;
  max-width: 300px;
  min-width: 270px;
}

.contenedor-precio {
  background-color: #6528e0;
  padding: 0px 5px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.titulo-precio {
  color: white;
  font-size: 25px;
}

.contenedor-padre-precio {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.contenedor-metodos-de-pago {
  margin-bottom: 50px;
}

a:hover {
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}

.parrafo-filtro {
  margin: 0px
}

.span-span {
  color: #6528e0;
  font-weight: bold;
}